.StaffCards {
    @apply flex flex-col pb-[50px] pt-[58px] gap-3 items-center max-w-[250px] px-5 w-1/4 rounded-md cursor-pointer
}

.ClickNoCard {
    background: linear-gradient(137deg,
            #f9d324 0.00%,
            #ff564e 100.00%);
}

.CarCard {
    background: linear-gradient(137deg,
            #E8EE48 0.00%,
            #0FD850 100.00%);
}

.InstructorCard {
    background: linear-gradient(180deg,
            #b224ef 0.00%,
            #7579ff 100.00%);
}

.AddCourseCard {
    background: linear-gradient(180deg, 
    #b224ef 0.00%, 
    #7579ff 100.00%);
}
.AddCourseDiv {
    background: #a561fe
}