.TimeBorder {
    border-top: 3px inset #7070703e;
    border-left: 3px inset #7070703e;
    border-right: 3px inset #c8c8c85a;
    border-bottom: 3px inset #c9c9c95a;
    border-radius: 5px;
}

.Dash {
    border: none;
    border-top: 1px solid #707070;
}


.Toggle {
    opacity: 0;
    position: absolute;
}

.Toggle+label {
    position: relative;
    display: flex;
    align-items: center;
}

.Toggle+label::before {
    display: flex;
    align-items: center;

    width: 75px;
    height: 45px;

    padding: 0px 10px;
    font-size: 17px;
    border-radius: 50px;

    cursor: pointer;
    background-color: #F5F5F5;


    color: #aeaeae;
    content: "Close";
    justify-content: flex-end;



    box-shadow:
        0 1px 2px #fff,
        0 0px 1px #666,
        inset 0 0px 1px rgba(0, 0, 0, 0.251),
        inset 0 1px 7px rgba(0, 0, 0, 0.251);
    transition: 100ms;
}

.Toggle:checked+label::before {
    content: "Open";
    color: white;
    background-color: #A1A3F0;
    justify-content: flex-start;
    font-size: 17px;

 

}

.Toggle+label::after {
    position: absolute;
    left: 4px;
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: #F5F5F5;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    transition: 200ms;
}

.Toggle:checked+label::after {
    position: absolute;
    left: calc(100% - 39px);
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: #F5F5F5;


}

.Toggle:checked+label {
    color: rebeccapurple;
}
.InstituteTimeSelector::-webkit-inner-spin-button{
    -webkit-appearance: none;
    appearance: inherit;
    -moz-appearance: textfield;
    margin: 0;
}